body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: white;
}

.login-box {
  background-color: white;
  padding: 30px 40px;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;
  z-index: 2;
}

.login-box h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: white;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  color: white;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
}

.login-button {
  width: 100%;
  background-color: #008000;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.login-button:hover {
  background-color: #006600;
}

.forgot-password {
  display: block;
  margin-top: 15px;
  color: rgb(0, 255, 255);
  text-decoration: none;
  font-size: 0.9rem;
}

.forgot-password:hover {
  text-decoration: underline;
}
